{% extends '_layout.html' %}
{% block content %}

<h1>Upload Profile Picture</h1>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-4 col-md-8 col-s-12">
            <form class="ml-3 mr-3" action="{{ url_for ('images.upload_image', id = current_user.id) }}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="file" name="image" class="form-control-file">
                    <button type="submit" class="btn btn-primary mt-3">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>
<h1>Upload Images</h1>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-4 col-md-8 col-s-12">
            <form class="ml-3 mr-3" action="{{ url_for ('images.upload_images', id = current_user.id) }}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="file" multiple="true" name="image" class="form-control-file">
                    <button type="submit" class="btn btn-primary mt-3">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}