{% extends '_layout.html' %}
{% block content %}
    <div class="container">
        <h1>Users Who Follow {{user.name}}</h1>
        <ul class="list-group">
            {% if length_followers == 0 %}
                <li class="list-group-item">
                    No Followers : FeelsBadMan
                </li>
            {% else %}
                {% for follower in followers %}
                    <li class="list-group-item">
                        <a href="{{ url_for('users.show', id=follower.id) }}">{{follower.name}}</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endblock %}